@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="d-flex justify-content-center align-items-center shadow-lg px-5 py-4 rounded-lg flex-column " style="width: fit-content;">
    <h2 class="my-2">Add New Book</h2>
    <form>
        <div class="form-group mb-3">
            <label>Book Name</label>
            <input class="form-control" type = "text" placeholder = "Enter Book Name"/>
        </div>
        <div class="form-group mb-3">
            <label for="">Book Author</label>
            <input class="form-control" type="text" placeholder="Enter Book Author"/>
        </div>
        <div class="form-group mb-3">
            <label for="">Number of Copies</label>
            <input class="form-control" type="text" placeholder="Enter Number of Copies"/>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-primary px-5" type = "submit">Add</button>
        </div>
    </form>
</div>