@model BookModel
@{
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}
<div class="text-center">
    <h2>List of Books</h2>
    <div class="d-flex justify-content-end my-4">
        <form asp-controller="admin" asp-action="addNewBook">
            <button class="btn btn-primary">Add New Book</button>
        </form>
    </div>
    <table class="table  table-bordered table-striped">
        <thead>
            <tr>
                <td>
                    Book Id
                </td>
                <td>
                    Book Name
                </td>
                <td>
                    Book Author
                </td>
                <td>

                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1001
                </td>
                <td>
                    book name
                </td>
                <td>
                    book author
                </td>
                <td>
                    <button class="btn btn-danger">
                        delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
