@{
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}
<div class="text-center">
    <h3>
        All Transactions
    </h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>
                    Transaction Id
                </td>
                 <td>
                    Book Id
                </td>
                 <td>
                    User Id
                </td>
                <td>

                </td>
            </tr>
        </thead>
    </table>
</div>