<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

=======
>>>>>>> 71fa333b85aecc2b93722baf5bbbf9123bfd736f
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/library.styles.css" asp-append-version="true" />
</head>
<<<<<<< HEAD

<body class="bg-light" style="height:90vh">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/library.svg" alt="library-icon" style="height: 36px">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav  d-flex justify-content-end flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a type="sumbit" class="nav-link text-dark" asp-controller="user" asp-action="LendBook">Lend
                                New Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User"
                                asp-action="showtransactions">All
                                Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white btn btn-primary" asp-area="" asp-controller="Auth"
                                asp-action="Logout">Log Out</a>
                        </li>
=======
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
               <div class="d-flex align-items-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/library.svg" alt="library-icon" style="height: 36px">
                </a>
               </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-flex flex-row-reverse justify-content-end">
                      <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">log out</a>
                        </li>
                       
>>>>>>> 71fa333b85aecc2b93722baf5bbbf9123bfd736f
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
<<<<<<< HEAD
        @RenderBody()
    </div>
=======
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - library - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
>>>>>>> 71fa333b85aecc2b93722baf5bbbf9123bfd736f
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<<<<<<< HEAD

=======
>>>>>>> 71fa333b85aecc2b93722baf5bbbf9123bfd736f
</html>
