<<<<<<< HEAD
@{
      Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h1 class="text-center">Owned Books</h1>
<div class="my-4 d-flex justify-content-end " >
<a type="sumbit" class="btn btn-primary"
asp-controller = "user" asp-action = "LendBook">Lend New Book</a>
</div>
<div class="wrapper text-center">
 <table class="table table-bordered" >
    <tr>
        <th>Book Name</th>
        <th>Author</th>
        <th>Expiry Date</th>
        <th></th>
    </tr>
    <tr>
        <td>Java 7th Edition</td>
        <td>Herbert Schildt</td>
        <td>30/09/2022</td>
        <td><button type = "button" class="btn btn-danger btn-sm">Return</button></td>
    </tr>
    <tr>
        <td>Core Java</td>
        <td>Rashmi Kanta Das</td>
        <td>30/09/2022</td>
        <td><button type = "button" class="btn btn-danger btn-sm">Return</button></td>
    </tr>
    <tr>
        <td>Pro C# with .Net</td>
        <td>Andrrew Troelsen</td>
        <td>30/09/2022</td>
        <td><button type = "button" class="btn btn-danger btn-sm">Return</button></td>
    </tr>
</table>
</div>
=======
<h1 class="helloheading" >hello</h1>
>>>>>>> 71fa333b85aecc2b93722baf5bbbf9123bfd736f
