@{
      Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@{
      Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h1 class="text-center">All Available Books</h1>
<div class="wrapper text-center">
<table class="table  table-bordered table-striped">
        <thead>
            <tr>
                <td>
                    Book Id
                </td>
                <td>
                    Book Name
                </td>
                <td>
                    Book Author
                </td>
                <td>

                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1001
                </td>
                <td>
                    book name
                </td>
                <td>
                    book author
                </td>
                  <td><button type = "button" class="btn btn-success btn-sm">Lend</button></td>
            </tr>
        </tbody>
    </table>
</div>